
/* Import Fonts */
@import url('https://fonts.googleapis.com/css2?family=Asap&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap');

/* Mixins */ 

@mixin glass {
	// padding: 1rem;
	background: rgba(255, 255, 255, 0.15);
	border-radius: 16px;
	backdrop-filter: blur(5px);
	border: 1px solid rgba(255, 255, 255, 0.3);
	width: fit-content;
}

@mixin pomodoro-btn {
	margin: 1em;
	padding: 1em;
	border-radius: 1rem;
	background: rgba(255, 255, 255, 0.3);
	transition: 0.4s;
		&:hover {
			transform: translateY(-1px);
			box-shadow: 5px 5px 2px 1px  rgba(242,230,234,0.5);
		  }
}

@mixin input-box {
	padding: 10px;
	background-color: #FFF;
	border-radius: 1em;
	color: black;
}

@mixin add-btn {
	display: inline-block;
	position: relative;
	border-radius: 50%;
	font-size: 2rem;
	height: 45px;
	width: 45px;
	margin-left: 5px;
	cursor: pointer;
	background: rgba(255, 255, 255, 0.3);
		span {
			position: absolute;
			top: 0;
			right: 30%;
		}
}

/* Universal Selectors */
.quote-container, .todo-container, .pomodoro-container, .water-cont {
	cursor: grab;
	width: fit-content;
}


* {
	margin: 0;
	padding: 0;
	overflow: hidden;
	color: white;
	background: none;
	font-family: 'Asap', sans-serif;
}

*:focus {
	outline: none;
}
input, button {
	border: none;
	background: none;
}


nav {
	position: fixed;
	bottom: 5%;
	left: 50%;
	transform: translateX(-50%);
}
.header {
	background-color: #f3f3f3;
	box-shadow: 10px 10px 48px -25px rgba(0,0,0,0.36);
	border-bottom-right-radius: 16px;
	border-bottom-left-radius: 16px;
	
	img {
		margin: 0.5em;
		width: 10%;
	}

}

.nav-bar {
	list-style-type: none;
	border-radius: 2rem;
	@include glass;
	.nav-list {
		color: white;
		margin: 1em;
		font-family: 'Asap', sans-serif;
		display: inline-block;
		cursor: pointer;
	}
	.nav-icon {
		display:block;
		margin: auto;
	}
}


.quote-container {
	border-left: 3px solid rgba(255, 255, 255, 0.7);
	margin-top: 1rem;
	margin-left: 1rem;
	max-width: 75ch;
	.mini-title, .quote {
		padding: 1em;
	}

	.mini-title {
		color: rgba(255, 255, 255, 0.9)
	}
}

.todo-container {
	@include glass;
	width: fit-content;
	border-radius: 16px;
	gap: 2em;
	padding: 1em;
}
.add-btn {
	@include add-btn;
}


.note-box {
	border-radius: 2rem;
	background: rgba(255, 255, 255, 0.3);
	padding: 0.5rem;
	position: relative;
	width: 35ch;
	margin: 1em 0 1em 0;
	cursor: text;

	.del-btn {
		position: absolute;
		right: 5%;
		bottom: 15%;
		cursor: pointer;
	}

	.todo-text {
		padding: 5px;
		text-decoration: none;
	}

	.todo-text-crossed {
		text-decoration: line-through;
	}

	.check-box {
		appearance: none;
		background-color: #fafafa;
		padding: 5.5px;
		border-radius: 1rem;
		cursor: pointer;
		transition: 0.5s ease-in;
	}

	.check-box:checked {
		background-color: #8ac926;
	}
}

.pom-motion {
	width: fit-content;
	border-radius: 16px;
}
.pomodoro-container {
	@include glass;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.toggle-time {
	li {
		display: inline-block;
		@include pomodoro-btn;
	}
}

.clock-display {
	margin: 10px;
	text-align: center;
	font-size: 3rem;
}

.toggle {
	transform: translateY(-1px);
	box-shadow: 5px 5px 2px 1px  rgba(242,230,234,0.5);
}


.btn-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	.start-btn {
	@include pomodoro-btn;
	font-size: 1rem;
  	width: 20ch;
}
}

.setting-form {
	@include glass;
	height: fit-content;
	padding: 1em;
	text-align: center;
	h3, h2, label {
		color: rgba(0, 0, 0, 0.5);
		font-size: 1rem;
		text-align: start;
	  }
	
	div {
	  display: inline-block;
	  margin-right: 5px;
	  margin-bottom: 1em;
	  label {
		color: black;
		margin: 0.5em;
		display: block;
		font-size: 0.8rem;
	  }

	  input {
		@include input-box;
		width: 15ch;
	}
	  
	}
  
	
}

.apply-btn {
	  color: white;
	  background: #f28482;
	  padding: 0.7rem;
	  border: none;
	  width: 20ch;
	  border-radius: 1em;
	  display: block;
      margin: 0 auto;
	}


.water-cont {
	.water-main-cont {
		display: flex;
		flex-direction: row;
		.main-display {
			@include glass;
			padding: 1rem;
		}
		.user-water-settings {
		@include glass;
		padding: 1rem;
		width: 20ch;
		}
	}
	
	.user-other-settings {
		@include glass;
		padding: 1em;
		width: 43.5ch; 
		label {
			display: inline-block;
		}
		div {
			margin: 1em;
			display: flex;
			justify-content: space-between;
			select {
				border: none;
				width: 18ch;
			}
		}
	}
}

.progress-bar {
	border-radius: 2rem;
	background: rgba(255, 255, 255, 0.3);
	padding: 0.7rem;
	width: 35ch;
	text-align: center;
	display: inline-block;
}

.tracker-container {
	margin-top: 1em;
	display: flex;
	.input-box{
		width: 50ch;
		border-radius: 2rem;
		background: rgba(255, 255, 255, 0.3);
		padding: 0.7rem;
		width: 34ch;
		display: inline-block;
	}
}

.soundboard-cont {
	@include glass;
	padding: 1em;
	.sound {
		padding: 1.5em;
		button {
			margin-right: 10px ;
		}
	}
}
.bg-button {
	width: 25px;
	height: 25px;
	border-radius: 5px;
	transition: 0.5s;
}

.btn-option {
	width: 25px;
	height: 25px;
	border-radius: 5px;
}

.btn-cont {
	@include glass;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1em;
	margin-left: auto;
	padding: 1em;
}


// Input type: Range 
input[type="range"] {
	-webkit-appearance: none;
	 appearance: none;
	 background: transparent;
	 cursor: pointer;
	 overflow: visible;
	
 }
 
 input[type="range"]:focus {
   outline: none;
 }
 

 input[type="range"]::-webkit-slider-runnable-track {
	background-color: rgba(255, 255, 255, 0.3);
	border-radius: 0.5rem;
	height:1ch;
 }
 
 /* slider thumb */
 input[type="range"]::-webkit-slider-thumb {
   -webkit-appearance: none; /* Override default look */
	appearance: none;
	margin-top: -4px; /* Centers thumb on the track */
	/*custom styles*/
	background-color: white;
	height: 15px;
	width: 1rem;
	border-radius: 1rem;
 }
 
 
// Active Toggle 
.active {
	display: block;
}

.not-active {
	display: none;
}

.clicked {
	border-bottom: 1px solid white;
}

// Exporting variables

// Reworking CSS down here
.input {
	@include input-box();
	width: 15ch;
}