$bg-option1:linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
$bg-option2:linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
/* Import Fonts */
@import url('https://fonts.googleapis.com/css2?family=Asap&display=swap');


/* Mixins */ 

@mixin glass {
	padding: 1rem;
	background: rgba(255, 255, 255, 0.15);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5px);
	border: 1px solid rgba(255, 255, 255, 0.3);
	width: fit-content;
}

@mixin pomodoro-btn {
	margin: 1em;
	padding: 1em;
	border-radius: 1rem;
	background: rgba(255, 255, 255, 0.3);
	transition: 0.4s;
		&:hover {
			transform: translateY(-1px);
			box-shadow: 5px 5px 2px 1px  rgba(242,230,234,0.5);
		  }
}

@mixin input-box {
	padding: 10px;
	background-color: #FFF;
	margin-right: 1em;
	border-radius: 1em;
	max-width: 15ch;
	color: black;
}

@mixin add-btn {
	display: inline-block;
	position: relative;
	border-radius: 50%;
	font-size: 2rem;
	height: 45px;
	width: 45px;
	margin-left: 5px;
	cursor: pointer;
	background: rgba(255, 255, 255, 0.3);
		span {
			position: absolute;
			top: 0;
			right: 30%;
		}
}

/* Universal Selectors */
.quote-container, .todo-container, .pomodoro-container, .water-cont {
	cursor: grab;
	width: fit-content;
}


* {
	margin: 0;
	padding: 0;
	overflow: hidden;
	color: white;
	font-family: 'Asap', sans-serif;
}

*:focus {
	outline: none;
}
main {
    background: $bg-option2;
    background-size: 400% 400%;
	height: 100vh;
    animation: gradient 12s ease infinite;
	position: relative;
}

input, button {
	border: none;
	background: none;
}



.header {
	color: black;
	padding: 2rem;
	background-color: #f3f3f3;
	box-shadow: 10px 10px 48px -25px rgba(0,0,0,0.36);
}

.nav-bar {
	list-style-type: none;
	z-index: 1;
	padding: 1em;
	border-radius: 2rem;
	position: absolute;
	bottom: 5%;
	left: 38%;
	@include glass;
	.nav-list {
		color: white;
		margin: 1em;
		padding: 1em;
		font-family: 'Asap', sans-serif;
		display: inline;
		cursor: pointer;
		user-select: none;
	}
}


.quote-container {
	border-left: 3px solid rgba(255, 255, 255, 0.7);
	margin-top: 1rem;
	margin-left: 1rem;
	max-width: 75ch;
	.mini-title, .quote {
		padding: 1em;
	}

	.mini-title {
		color: rgba(255, 255, 255, 0.9)
	}
}

.todo-container {
	@include glass;
	width: fit-content;
	border-radius: 16px;
	gap: 2em;
}
.add-btn {
	@include add-btn;
}


.note-box {
	border-radius: 2rem;
	background: rgba(255, 255, 255, 0.3);
	padding: 0.5rem;
	position: relative;
	width: 35ch;
	margin: 1em 0 1em 0;
	cursor: text;

	.del-btn {
		position: absolute;
		right: 5%;
		bottom: 15%;
		cursor: pointer;
	}

	.todo-text {
		padding: 5px;
		text-decoration: none;
	}

	.todo-text-crossed {
		text-decoration: line-through;
	}

	.check-box {
		appearance: none;
		background-color: #fafafa;
		padding: 5.5px;
		border-radius: 1rem;
		cursor: pointer;
		transition: 0.5s ease-in;
	}

	.check-box:checked {
		background-color: #8ac926;
	}
}

.pom-motion {
	width: fit-content;
	border-radius: 16px;
}
.pomodoro-container {
	@include glass;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.toggle-time {
	li {
		display: inline-block;
		@include pomodoro-btn;
	}
}

.clock-display {
	margin: 10px;
	text-align: center;
	font-size: 3rem;
}

.toggle {
	transform: translateY(-1px);
	box-shadow: 5px 5px 2px 1px  rgba(242,230,234,0.5);
}


.btn-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	.start-btn {
	@include pomodoro-btn;
	font-size: 1rem;
  	width: 20ch;
}
}

.setting-form {
	@include glass;
	max-width: 50ch;
	height: fit-content;
	padding: 1em;
	text-align: center;
	h3, h2, label {
		color: rgba(0, 0, 0, 0.5);
		font-size: 1rem;
		text-align: start;
	  }
	input {
		@include input-box;
	}
	div {
	  display: inline-block;
	  label {
		color: black;
		margin: 0.5em;
		display: block;
		font-size: 0.8rem;
	  }
  
	  
	}
  
	
}

.apply-btn {
	  color: white;
	  background: #f28482;
	  padding: 0.7rem;
	  border: none;
	  width: 20ch;
	  margin-top: 1em;
	  border-radius: 1em;
	}


.water-cont {
	.water-main-cont {
		display: flex;
		flex-direction: row;
		.main-display {
			@include glass;
			padding: 1rem;
		}
		.user-water-settings {
		@include glass;
		padding: 1rem;
		width: 20ch;
		input {
			display: block;
			@include input-box;
			margin-top: 0.5em;
		}
		}
	}
	
	.user-other-settings {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		padding: 1em;
		justify-content: space-between;
		@include glass;
		width: 43.5ch;
		input, select  {
			@include input-box;
			margin-bottom: 1em;
			margin-left: 3em;
		}
		label {
			margin-top: 0.5em;
		}
	}
}

.progress-bar {
	border-radius: 2rem;
	background: rgba(255, 255, 255, 0.3);
	padding: 0.7rem;
	width: 35ch;
	text-align: center;
	display: inline-block;
}

.tracker-container {
	margin-top: 1em;
	display: flex;
	.input-box{
		width: 50ch;
		border-radius: 2rem;
		background: rgba(255, 255, 255, 0.3);
		padding: 0.7rem;
		width: 34ch;
		display: inline-block;
	}
}

.soundboard-cont {
	@include glass;
	.sound {
		padding: 1.5em;
	}
}

// Animations 
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


// Active Toggle 
.active {
	display: block;
}

.not-active {
	display: none;
}